#chat-screen {
  background-color: #abc1d1;
  height: 1000vh;
}
#chat-screen .status-bar,
#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  background-color: #abc1d1;
}
#chat-screen .status-bar {
  z-index: 2;
}
#chat-screen .alt-header {
  z-index: 1;
}

@keyframes fadein {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadein 0.3s linear;
}

/* 날짜 스탬프 */
.chat__timestamp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.chat__timestamp-text {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 7px 12px;
  font-size: 13px;
  color: #e9edf0;
}

/* 미나미랑 카톡 */
.message-row img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 10px;
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 23px;
}
.message__author {
  display: block;
  opacity: 0.9;
  font-size: 15px;
  margin-bottom: 9px;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__balloon {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 13px;
  border-top-left-radius: 2px;
}
.message__time {
  opacity: 0.9;
  font-size: 11px;
  margin-left: 5px;
}
.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__balloon {
  background-color: var(--yellow);
  border-top-right-radius: 2px;
  border-top-left-radius: 13px;
}
.message-row--own .message__time {
  margin-right: 5px;
  margin-left: -5px;
}

/* 채팅터미널 */
.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  will-change: transform;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:first-child span {
  color: #9a9ea5;
  font-size: 20px;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply input {
  padding: 5px;
  padding-left: 10px;
  height: 30px;
  width: 100%;
  border-radius: 20px;
  border: var(--main-border);
  transition: all 0.3s ease-in-out;
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 0;
  top: 5px;
  margin-right: -12px;
}
.reply__column:last-child > i {
  right: 30px;
  top: 13px;
  margin-right: 5px;
  color: #9a9ea5;
}
.reply__column:last-child button {
  background-color: var(--yellow);
  border: none;
  padding: 7px;
  border-radius: 50%;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}
.reply:focus-within input {
  width: 95vw;
  transform: translateX(-11%) translateY(-80px);
  will-change: transform;
}
.reply:focus-within {
  transform: translateY(80px);
}
