#chat-screen {
  background-color: #abc1d1;
  height: 1000vh;
}
#chat-screen .status-bar,
#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  background-color: #abc1d1;
}
#chat-screen .status-bar {
  z-index: 2;
}
#chat-screen .alt-header {
  z-index: 1;
}
.main-chat {
  margin-top: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat__timestamp {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 8px;
  font-size: 13px;
  color: #e9edf0;
}
