.more-screen .icon-row {
  margin-top: 40px;
}

.more-suggestions {
  margin-top: 40px;
  border-top: var(--main-border);
  padding-top: 25px;
  margin-bottom: 20px;
}
.more-suggestion__icons {
  display: flex;
}
.more-suggestion__icon:first-child {
  margin-right: 40px;
  text-align: center;
}
.more-suggestion__icon:last-child {
  text-align: center;
}
.more-suggestion__icon-image img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
}
.more-suggestion__icon-text {
  margin-top: 7px;
  font-size: 14px;
  opacity: 0.8;
}
