.alt-header {
  padding: 0px var(--horizontal-space);
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.alt-header__title {
  font-size: 22px;
  font-weight: 600;
}
.alt-header__icon-search {
  margin-right: 25px;
}
.alt-header__column {
}
.alt-header__column {
}
.alt-header__column {
}
