.alt-header {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.alt-header__title {
  font-size: 22px;
  font-weight: 600;
}
.alt-header__column {
}
.alt-header__column {
}
.alt-header__column {
}
